@import "theme-variables";
@import "mixins";

@import "partials/message";

.jumbotron {
  background-color: $secondary-accent-light;
  &__container {
    display: flex;
    gap: $gap;
    padding-bottom: 3rem;
  }
  &__part {
    flex: 1;
    &--text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__img {
    margin-right: -$gap;
  }
  &__title{
    padding-top: 2rem;
    font-size: 2.5rem;
  }
}




