---
layout: layout.njk
css: index
---
{% include '_includes/partials/message.njk' %}
<div class="jumbotron">
    <div class="jumbotron__container container">
        <div class="jumbotron__part">
            <h1>
                {{ home.jumbotron.title }}
            </h1>
        </div>
        <div class="jumbotron__part">
            <img src="{{ home.jumbotron.img.sourceUrl | url }}" alt="{{ home.jumbotron.img.altText }}" class="jumbotron__img">
        </div>
    </div>
</div>