<div class="message">
    <div class="message__wrapper container">
        <div class="message__text">
            {{ home.message | safe }}
        </div>
        <div class="message__close-container">
            <i class="message__close las la-times"></i>
        </div>
    </div>
</div>