<header class="header">
    <div class="container">
        <div class="top-nav">
            <div class="top-nav__item">
                <a href="" class="top-nav__side-menu-item">Always free</a
                ><a href="" class="top-nav__side-menu-item top-nav__side-menu-item--divider">Plan your visit</a>
            </div>
            <div class="top-nav__item top-nav__item--center">
                <img src="/img/logo.svg" alt="Logo">
            </div>
            <div class="top-nav__item top-nav__item--right">
                <a href="" class="top-nav__side-menu-item">Donate</a
                ><a href="" class="top-nav__side-menu-item">Become a member</a
                ><a href="" class="top-nav__side-menu-item">Shop</a>
            </div>
        </div>
        <nav class="navbar">
            <a class="navbar__item">Our Story</a>
            <a class="navbar__item">What’s Happening</a>
            <a class="navbar__item">Art + Artists</a>
            <a class="navbar__item">Learn</a>
            <a class="navbar__item">Get Involved</a>
        </nav>
    </div>
</header>